:root{
    --main-color:#05141b;
    --text-large:30px;
    --text-medium:20px;
    --text-small:10px;
}



body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    
}


/* Navbar */

nav{
    align-items: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #05141b;
    position: absolute;
    z-index:99;
    width: 100vw;
}
.logo{
    margin-right:50vw;
}


a{
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;

}
a:hover{
    background-color: rgb(30, 59, 59);
    border-radius: 50px;
  
}

/* Specific styles */

.footer{
    
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#05141b;
    position: absolute;
    z-index:99;
    width: 100vw;

}

.ft{
    margin-right:0vw;
}

.footer-desc{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    
}


.footer-title{
  width: 100%;
  align-items: center;
  align-items: center;

  justify-content: center;
  text-align: center;
  
  padding: 0;
  margin: 30px;
}

.footer-paragraph{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0;
    margin: 15px;
}

/* END OF NAVBAR */


section {
  font-size: 2rem;
    padding: 2rem;
    background-color: #05141b;
    color: white;
    z-index: 1;
    position: relative;
    margin: 0; 
    padding-top: 10px; 
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.wrapper {
    height: 100vh; 
    perspective: 20px;

    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
}




.another-section {
    padding: 4rem;
    background-color: #fff;
    color: #05141b;
    z-index: 99;
}
.non-parallax{
    height: auto; /* Allow this to expand as needed */
    width: 100%;
    background-color: #fff;
}
/*========================= PARALLAX ===========================*/


/*Welcome*/
.welcome {
    margin-top: 10rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10em;
    color: white;
    overflow: hidden;
    z-index: -2;
    max-width: 100%;
    width: 100%;
    color:#fff;
    text-shadow: 0 0 10px black;
    
}
  
  .welcome .letter {
    display: inline-block;
    line-height: 1em;
  }


  
/*Welcome End*/

.parallax-desc{
    font-size: 30px;
    position: absolute;
    bottom:0;
    width: 70%;
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 0 0 5px black;

}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Keep this at full height for the landing section */
    transform-style: preserve-3d;
    z-index: 1; /* Ensure it's below other content */
}

.b1, .b1-1, .b2, .b3, .b4, .b5, .b6{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
}
/* by adjusting this values, you also adjust the speed of the landing animation 
    The higher the TranslateZ negative value, the slower it rises
*/
.b1 { transform: translateZ(-80px) scale(5.1); }
.b1-1 { transform: translateZ(-60px) scale(4); }
.b2 { transform: translateZ(-45px) scale(3.3); }
.b3 { transform: translateZ(-30px) scale(2.6); }
.b4 { transform: translateZ(-15px) scale(1.8); }
.b5 { transform: translateZ(-5px) scale(1.4); }
.b6 { transform: translateZ(0px) scale(1); }

.text { transform: translateZ(-10px) scale(2); }




/*======================= END OF PARALLAX =====================*/

/*======================= Cards ===============================*/
.card-section{
    align-items: center;
    justify-content: center;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   gap:10px;
 
    
}
.card-section-title{
    width: 100%;

}
.cards{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: auto;

    margin: 20px;
    padding: 20px;
    
    background-color: #242b33;
}
.card-container{
    display:flex;
    align-items: center;
    justify-content: center;
  

    height: 150px;
    width: 100%;
    overflow: hidden;
 
}
.card-picture{
     border-radius: 100px;
    display: block;
    width: 50%;
    height: 100%;
    object-fit: cover;
}


.card-title{
    font-size: 30px;
    position: relative;
}
.card-desc{
    font-size: 20px;
    position: relative;
}



/* === Specific styles === */
.section1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.meet{
    padding-top: 50px;
    padding-bottom: 50px;
}


/* === Utilities === */
.utilities{
    width: 350px;

}

/* === Team === */

.team{
    width: 240px;
    height: 270px;
    margin: 10px;
}

.team .card-desc{
    font-size: 17px;
 
}

.team .card-title{
    font-size: 20px;
}

.team .card-container{
    height:120px;
    width: 100%;
}

/*======================= END OF Cards =========================*/

/*======================= ROAD MAP ===============================*/
.Roadmap{
    background-color: rgb(155, 97, 150);
}

/*======================= END OF ROAD MAP ======================== */

/*======================= BANNER WITH TEXT ======================= */


.banner {
    width: 100%; /* Full width */
    display: flex;
    justify-content: center; /* Center the content */
    height: 100vh;

}
.banner-container {
    margin: 50px 0px 50px 0px;
    background: linear-gradient(to right, #3A3A5A, #6363AC); /* Gradient background */
    display: flex;
    align-items: flex-start; /* Align items at the start */
    justify-content: space-between; /* Space between image and text */
    width: 100%; /* Full width for the container */
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.banner-image-container {
    height: 450px; /* Image height */
    width: 40vw; /* Image width */
    margin-right: 20px; /* Space between image and text */
    position: relative;
    z-index: 2; /* Ensure image is on top */

    align-items: center;
    justify-content: center;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */

    
}

.banner-container-second{
    
    height: 750px;
    width: 500px;
    position: absolute;
    background-color: red;
    box-shadow: 0 2px 41px rgba(0, 0, 0, 0.8); /* Shadow for cards */



    
}

.banner-text-container {
    flex: 1; /* Allow text container to fill remaining space */
  
    color: white; /* Text color */
    padding: 20px; /* Padding for text area */
    border-radius: 10px; /* Rounded corners */
    z-index: 1; /* Ensure text is below the image */
    width: 50vw;
    display:flex;
    align-items: center;
    justify-content: center;
  
  
}

.banner-cards {
    background-color: #242b33; /* Card background color */
    border-radius: 8px; /* Rounded corners */
    margin: 20px 0; /* Vertical margin for cards */
    padding: 20px; /* Inner padding for cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for cards */
    width: 50vw;

    margin:10px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-title {
    font-size: 24px; /* Heading size */
    margin-bottom: 10px; /* Spacing below the heading */
}

.banner-desc {
    font-size: 16px; /* Text size */
    color: #bfbfc9; /* Slightly lighter text color */
}


/*======================= END OF BANNER WITH TEXT ================  */

/*======================= IMAGE WITH TEXT SECTION ===============================*/
.Investors{
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.left{
    width: 50vw;
    height: 50vh;
    padding: 20px;
}

.text-investors{
    width: 40vw;
    font-size: 20px;
}

/* === Button Design === */
/* From Uiverse.io by adamgiebl */ 
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid rgb(155, 97, 150);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: rgb(155, 97, 150);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(155, 97, 150);
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
    cursor: pointer;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }


.banner{
 
    padding: 50px 0px 50px 0px ;
}

.banner-wrapper{

    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
    background-color: red;
    width: 100%;
    height: 50%;
    top: 50%;

    position:inherit;
   
    
}

/*======================= END OF IMAGE WITH TEXT SECTION =========================*/

/*======================= MEET THE TEAM ===============================*/

.meet{
    background-color: rgb(155, 97, 150);
}

/*======================= END OF MEET THE TEAM =========================*/



